

.section {
 
    background-color: var(--c-section-bg);
    // background-color: $surface-debug;
    color: var(--c-text-primary);

    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--spacing-4);
        // column-gap: var(--spacing-4);

        .sectionHeader {
            grid-column: 4 / 13;
        }
        .sectionCopy {
            grid-column: 1 / 13;
            p {
                text-indent: calc((  (100% - (16px * 11)) / 12 + 16px) * 3  );
            }
        }
    
        }


    }


