
@use "@/styles/abstracts/screens" as *;


.section {
 
    background-color: var(--c-section-bg);
    color: var(--c-text-primary);

    // background-color: $surface-debug;
    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--spacing-4);
        // column-gap: var(--spacing-4);

        .sectionHeader {
            grid-column: 1 / 13;
            // FIXXXEEDDDD (max-width: var(--screens-xl)) {
            //     @include screens(xl) {
       
            //         grid-column: 1 / 13;
          
            // }
        }



        .sectionContent {
            grid-column: 1 / 13;
            display: grid;
            gap: var(--spacing-4);
            grid-template-columns: repeat(12, 1fr);

            .contentList {
                .contentListHeader {
                    color: var(--c-text-secondary);
                }
                ul {
                    margin-top: var(--spacing-2);

                    li:not(:first-child) {
                        // background-color: red;
                        margin-top: var(--spacing-1);
                    }
                }


            }





            div:nth-child(1) {
                // background-color: red;
                grid-column: 1 / 7;
            }
            div:nth-child(2) {
                // background-color: red;
                grid-column: 7 / 13;
            }

    
    
            //     @include screens(xl) {
            //     div:nth-child(1) {
            //         grid-column: 1 / 6;
            //     }
            //     div:nth-child(2) {
            //         grid-column: 6 / 13;
            //     }
            // }

    
            //     @include screens(lg-less) {
            //     div:nth-child(1) {
            //         grid-column: 1 / 7;
            //     }
            //     div:nth-child(2) {
            //         grid-column: 7 / 13;
            //     }
            // }
    
    
                @include screens(sm) {
                div:nth-child(1) {
                    grid-column: 1 / 13;
                }
                div:nth-child(2) {
                    grid-column: 1 / 13;
                }
            }
    

        }




    }


}