@font-face {
    font-family: 'Super Manifold Pro';
    src: url('SuperManifoldPro-Regular.woff2') format('woff2'),
        url('SuperManifoldPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

