@use '@/styles/abstracts/' as *;


.section {
    @include headMargin;
    @include YFrame_M;
}


.container {
    @include XFrame;
}


.sectionGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: rem(16);

    .bio {
        grid-column: 3 / 5;
    }

    .subBio {
        grid-column: 3 / 5;
        color: $color-gray-600;

        margin-top: rem(32);

        & > li {
            margin-top: rem(4);
        }
    }

    @media (max-width: $screen-xl) {
        grid-template-columns: repeat(3, 1fr);
        .bio {
            grid-column: 2 / 4;
        }
    
        .subBio {
            grid-column: 2 / 4;

        }

        }

    @media (max-width: $screen-lg) {
        grid-template-columns: repeat(2, 1fr);
        .bio {
            grid-column: 1 / 3;
        }
    
        .subBio {
            grid-column: 1 / 3;

        }

        }
}

