@use '@/styles/abstracts/' as *;


.section {
    // @include YFrame_M;
    margin-top: $mt-160;
}


.container {
    @include XFrame;
}


.sectionGrid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: rem(16);
    .sectionTitle {
        grid-column: 1 / 7;
    }
    .bioFrame {
        grid-column: 7 / 13;
        & p:not(:first-child) {
            margin-top: rem(32);
        }

    }

    sup {
        vertical-align: super;
        margin-left: rem(2);
    }

    .sub {

        color: $color-gray-600;
        margin-top: rem(32);

        & li:not(:first-child) {
            margin-top: rem(4);
        }

    }

    .footnote {
        border-top: 1px solid $color-gray-600;
        padding-top: rem(24);

        color: $color-gray-600;
        margin-top: rem(48);

        & li:not(:first-child) {
            margin-top: rem(8);
        }

        li {
            counter-increment: item;
        }

        li::before {
            content: counter(item) ".";
            margin-right: rem(8);
            // background: lightblue;
            // border-radius: 100%;
            // color: white;
            width: .6em;
            // text-align: center;
            display: inline-block;
        }

    }

    

    @media (max-width: $screen-xl) {

        .sectionTitle {
            grid-column: 1 / 5;
        }
        .bioFrame {
            grid-column: 5 / 13;
        }
    


        }

    @media (max-width: $screen-lg) {
        .sectionTitle {
            grid-column: span 12;
        }
        .bioFrame {
            grid-column: span 12;
        }


        }
}

