
@use '@/styles/abstracts/' as *;


.section {
    // @include YFrame_M;
    margin-top: $mt-160;

    @media (max-width: $screen-lg) {
        margin-top: $mt-80;
        }
}


.container {
    @include XFrame;
}


.sectionGrid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: rem(16);

    .sectionTitle {
        grid-column: span 12;
    }

    .list {
        grid-column: span 12;
    }
}


.rowFrame {

    border-top: solid 1px;
    border-bottom: solid 1px;

    & + li:not(:first-child) {
        margin-top: -1px;
        border-top: solid 1px transparent;
    }

    cursor: pointer;

    // transition: background-color .1s;


    &:hover {
        // transition: background-color 1s;
        // border-top: solid 2px black;
        // border-bottom: solid 2px black;
        // background-color: black;
        // color: white;

        .position {

        &::before {
            content: '→ ';
        }
            transform: translateX(16px);
        }


        // @media (max-width: $screen-sm) {
        //     .company {
        //         transform: translateX(16px);
        //     }
    
        //     }
    }


}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: rem(16);
    
    // align-items: center;

    padding: rem(16) 0;




    // .position {
    //     &::before {
    //         content: '→ ';
    //     }
    // }

    .rowItem {
        overflow: hidden;
        white-space: nowrap;
        // display: block;
        text-overflow: ellipsis;
        // background-color: black;

        grid-column: span 3;


    }

    .tenure {
        // color: $color-gray-600;
        align-self: center;
        grid-column: span 2;
    }

    .position {
        transition: transform .2s ease;
        grid-column: span 4;
    }

    .company {
        // transition: transform .2s ease;
    }




// justify-items: end;
@media (max-width: $screen-xl) {
    // grid-template-columns: repeat(3, 1fr);
    .rowItem {

        grid-column: span 4;
    }
    .tenure {
        display: none;
    }
    }

@media (max-width: $screen-lg) {
    .rowItem {

        grid-column: span 6;
    }

    .tenure {
        display: none;
    }
    .location {
        display: none;
    }

    }

    @media (max-width: $screen-sm) {

    display: flex;
    flex-direction: column;

    .company {

        color: $color-gray-600;

    }

    }


}