@use './functions' as *;
@use './variables' as *;

@mixin YFrame_L {
    // padding: rem(48)  rem(32);
    padding-top: rem(128);
    padding-bottom: rem(128);
            
}

@mixin YFrame_M {
    // padding: rem(48)  rem(32);
    padding-top: rem(80);
    padding-bottom: rem(80);
    
}

@mixin headMargin {
    // padding: rem(48)  rem(32);
    margin-top: rem(80);
}

@mixin XFrame {

    padding-left: rem(32);
    padding-right: rem(32);

    @media (max-width: $screen-sm) {
        padding-left: rem(16);
        padding-right: rem(16);
    }

}

