
@use './functions' as *;



$screen-sm: rem(640);
// => @media (min-width: 640px) { ... }

$screen-md: rem(768);
// => @media (min-width: 768px) { ... }

$screen-lg: rem(1024); // Base
// => @media (min-width: 1024px) { ... }

$screen-xl: rem(1280);
// => @media (min-width: 1280px) { ... }

$screen-2xl: rem(1536);
// => @media (min-width: 1536px) { ... }














// Border Radius
$radius-md: rem(8);
$radius-lg: rem(16); // Base
$radius-xl: rem(24);
$radius-2xl: rem(32);
$radius-3xl: rem(48);



// Transition Duration
$duration-200: 200ms; 



// Colors
// $color-primary: #fdd02f;

//white, g10, g90, and g100.
$color-primary: #263af0;



$color-white: white;
$color-gray-100: #f6f6f6;

$color-gray-600: #8a8a8a;

$color-gray-900: #252525;
$color-black: black;




// Margin
$mt-80: rem(80);
$mt-160: rem(160);