
@use '@/styles/abstracts/' as *;
@use '@/styles/base/' as *;  // for animation

.sectionCover {
    height: 100vh;

    .container {

        margin: 0 auto;
        max-width: rem(720);
        height: 100%;

        display: flex;
        flex-direction: column;
    
    }
    .thirds {
        flex: 1 1 33.33%;

        padding: rem(48);

        // background-color: red;


        .buttonFrame {
            display: flex;
            height: 100%;
            justify-content: flex-end;
            align-items: center;
  
        }

        .titleFrame {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;

            text-align: center;

            span {
                // white-space: nowrap;
                display: inline-block;
            }


        }
        
        .scrollArrowFrame {
            display: flex;
            height: 100%;

            justify-content: center;
            // align-items: flex-end;
            align-items: center;


            .scrollArrowIcon {
                animation-name: scrollArrowAnim;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-direction:normal;
                animation-timing-function: $easeOutQuart;
            }
        }
    }


}




.sectionWorks {
    .container {
        padding: rem(48);
        display: flex;
        gap: rem(16);
        flex-wrap: wrap;
        justify-content: center;

        @media (max-width: $screen-md) {
            padding: rem(48) rem(16);
        }



        .imageFrame {
            position: relative;
            height: 100%;
        }
        .nextImage {
            border-radius: rem(28);
            height: auto;
        }
    }

   

    
}
