@use '@/styles/abstracts/' as *;
@use '@/styles/base/' as *;  // for animation



// .sectionWorks {}


.section {
    // @include YFrame_L;
        // @include YFrame_M;
        margin-top: $mt-160;
}


.container {

    // @include XFrame;


    display: flex;
    // gap: 20%;

    flex-direction: column;


    // background-color: blue;





}