@use '@/styles/base/sizing' as *;
@use '@/styles/base/colors' as *;





.container {
    background-color: $surface-debug;

    width: 100%;
    height: 100%;
    position: relative;


    // flex: 0 0 auto;

    // width: 250px;
    // height: 250px;

    // border-radius: $rounded;
    // overflow: hidden;

}