




.container {
    background-color: var(--c-section-bg);
    

    width: 100%;
    height: 100%;
    position: relative;


    // flex: 0 0 auto;

    // width: 250px;
    // height: 250px;

    // border-radius: $rounded;
    // overflow: hidden;

}