@use '@/styles/abstracts/' as *;
@use '@/styles/base/' as *;  // for animation



// .sectionWorks {}


.container {

    // @include XFrame;
    @include YFrame_L;

    display: flex;
    // gap: 20%;

    flex-direction: column;


    // background-color: blue;



    .imageFrame {
        position: relative;
        width: 100%;

        &:not(:first-child) {
            margin-top: 16%;            
        }
    }


    .nextImage {
        // border-radius: rem(28);
        object-fit: 'cover';
    }
}