@use '@/styles/base/colors' as *;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: $surface-debug;
}

















a {
    color: inherit;
    text-decoration: none; /* no underline */
}



button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

img, video {
    max-width: 100%;
    height: 100%;
    display: block;
}




html {
    // font-size: 16px;
    -webkit-text-size-adjust: none;
}