*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none; /* no underline */
}

body {
    background-color: #f6f6f6;
    // background-color: red;

    // cursor:
    // url('/assets/pointer1.svg') 10 10,
    // pointer
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

img, video {
    max-width: 100%;
    height: 100%;
    display: block;
}


