@use '@/styles/abstracts/primitives' as *;


$surface-debug: #F04518;
$surface-00: $color-gray-100;


$icon-primary: #000;

$text-primary: #000;
$text-secondary: #6a6a6a;


$border-00-subtle: #6a6a6a;