@use '@/styles/abstracts/primitives' as *;


// $surface-debug: #F04518;
$surface-debug: rgb(255, 44, 0);
$surface-00: rgb(242, 242, 237);


$icon-primary: #000;

$text-primary: #000;
$text-secondary: #8f8f8f;


$border-00-subtle: #6a6a6a;


$text-inverse: white;