@use '@/styles/abstracts/functions' as *;


$screen-xsm: rem(496);

$screen-sm: rem(640);
// => @media (min-width: 640px) { ... }

$screen-md: rem(768);
// => @media (min-width: 768px) { ... }

$screen-md2: rem(896);

$screen-lg: rem(1024);
// => @media (min-width: 1024px) { ... }

$screen-xl: rem(1280);
// => @media (min-width: 1280px) { ... }

$screen-2xl: rem(1536);
// => @media (min-width: 1536px) { ... }



$spacing-1: rem(4);

$spacing-2: rem(8);
$spacing-3: rem(12);
$spacing-4: rem(16);

$spacing-5: rem(20);
$spacing-6: rem(24);

$spacing-8: rem(32);

$spacing-12: rem(48);


$spacing-24: rem(96);

$spacing-32: rem(128);

$spacing-48: rem(192);



$rounded: rem(4);
$rounded-lg: rem(8);

$rounded-2xl: rem(16);