@use '@/styles/abstracts' as *;



// 100 Thin (Hairline)
// 200 Extra Light (Ultra Light)
// 300 Light

// 400 Normal (Regular)

// 500 Medium
// 600 Semi Bold (Demi Bold)
// 700 Bold

// 800 Extra Bold (Ultra Bold)
// 900 Black (Heavy)
// 950 Extra Black (Ultra Black) 


@font-face {
  font-family: 'SuperManifoldPro';
  src: url('/assets/fonts/SuperManifoldPro/SuperManifoldPro-Regular.woff2') format('woff2'),
      url('/assets/fonts/SuperManifoldPro/SuperManifoldPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  // font-display: swap;
}

// @font-face {
//   font-family: 'SuperManifoldPro';
//   src: url('/assets/fonts/SuperManifoldPro-Regular.otf') format('opentype');
//   font-weight: 400;
//   font-style: normal;
//   // font-display: swap;
// }



.body-xl {
  font-family: 'SuperManifoldPro';
  font-size: rem(20);
  line-height: 1.4;

}


.body-2xl {
  font-family: 'SuperManifoldPro';
  font-size: rem(28);
  line-height: rem(36);
}

.body-3xl {
  font-family: 'SuperManifoldPro';
  font-size: rem(40);
  line-height: 1.4;

@media (max-width: $screen-sm) {
  font-size: rem(32);
  }

}











// .body-2xl {
//   font-family: 'SuperManifoldPro';
//   font-size: rem(32);
//   line-height: 1.5;

// }


// .body-base {
//   font-family: Inter;
//   font-size: rem(16);
//   line-height: 1.5;
// }



  // @media (max-width: $screen-sm) {
  //   font-size: rem(16);
  //   line-height: 1.5;
  //   }
  // @media (max-width: $screen-sm) {
  //   font-size: rem(16);
  //   }

  


// @font-face {
// font-family: SuperManifoldPro;
// src: url('/assets/fonts/SuperManifoldPro/BBSuperManifoldProPro-Regular.otf') format('opentype');
// font-weight: 400;
// font-style: normal;
// }






