@use '@/styles/base/sizing' as *;





.framex {
    margin: 0 $spacing-6;

    @media (max-width: $screen-sm) {
        margin: 0 $spacing-4;
      }
}

.framey-sm {
    padding-top: $spacing-8;
}

.framey {
    padding-top: $spacing-24;
}

.framey-xl {
    padding-top: $spacing-48;
    @media (max-width: $screen-md) {
        padding-top: $spacing-32;
      }
}


.isMenuOpen {
    @media (max-width: $screen-md) {

        overflow-y: hidden;
    }
}