


.framex {
    margin: 0 var(--spacing-4);

    // @media (max-width: var(--screens-sm)) {
    //     margin: 0 var(--spacing-4);
    //   }
}

.framey-sm {
    padding-top: var(--spacing-8);

}

.framey {
    padding-top: var(--spacing-24);
}

.framey-xl {
    padding-top: var(--spacing-48);
    
    // @media (max-width: var(--screens-md)) {
    //     padding-top: var(--spacing-32);
    //   }
}


.overflow-y-hidden {
    overflow-y: hidden;
}