

@use '@/styles/abstracts/' as *;
@use '@/styles/base/' as *;  // for animation



.buttonFrame {

    display: flex;
    gap: rem(2);
    .emoji {
        width: rem(30);
        height: rem(30);
    
        position: relative;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // background-color: red;
    
        .nextImage {
            position: absolute;
            height: auto;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }
    }
    
    .iconFrame {

        &.menuOpen {
            .iconStroke:nth-child(1) {
                // transform: translateX(5px);
                transform: translateX(3px) rotate(45deg);
            }
            .iconStroke:nth-child(2) {
                width: 0;
                opacity: 0;
            }
            .iconStroke:nth-child(3) {
                // transform: translateX(5px);
                transform: translateX(3px) rotate(-45deg);
            }
        }
    
        width: rem(30);
        height: rem(30);
    
    
        display: flex;
        justify-content: center;
        align-items: center;
        
        .icon {
            width: rem(20);
            height: rem(16);
    
            display: grid;
            grid-template-columns: 1fr;
    
            gap: rem(5);
    
    
            .iconStroke {
    
                background-color: black;
    
    
                width: 100%;
                height: rem(2);
    
                transform-origin: 0% 50%;
    
                transition: transform 
                $duration-200
                $bouncy;
            }
    
    
        
        }
    }
   
    

}


