


.imageFrame {
    position: relative;
    width: 100%;

    &:not(:first-child) {
        margin-top: 16%;            
    }

    [data-img-to-show] {
        position:absolute;
        top:0%;

        height: 100%;
        width: 100%;
        // background-color: rgba(255, 0, 0, 0.315);

    }
}

.nextImage {
    background-color: rgb(234, 234, 234);
    object-fit: 'cover';

}

