@use '@/styles/base/sizing' as *;
@use '@/styles/base/colors' as *;

.section {
    background-color: $surface-00;
    // background-color: $surface-debug;
        // position: sticky;
    position: fixed;
    width: 100%;

    .container {

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: $spacing-3;

        padding: $spacing-3 0;



        .gridItem {

            &:nth-child(1) {
                grid-row: 1;
                grid-column: 1 / 9;

                display: flex;
                gap: $spacing-2;
            }

            &:nth-child(2) {
                grid-row: 1;
                grid-column: 9 / 13;

                    display: flex;
                    justify-content: space-between;

                .flex {
                    display: flex;
                    gap: $spacing-4;
                }
            }

        } 
    }



}


