
@use '@/styles/abstracts/' as *;
// @use '@/styles/base/' as *; // for Animations



.buttonFrame {
    



    display: flex;
    align-items: center;
    gap: rem(4);

    padding: 0 0 0 rem(8);

    user-select: text;

    .tagline {


        display: flex;
        align-items: center;
    
        gap: rem(4);
    
        .emoji {
            width: rem(30);
            height: rem(30);
        
            position: relative;
        
            .nextImage {
                position: absolute;
                height: auto;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
            }
        }
    }
    



}


// button {
//     @media (max-width: $screen-sm) {
//         display: none;
//         // padding: 0 rem(8) 0 rem(8);
        
//         // .tagline {
//         //     display: none;
//         // }

//     }
// }