@use '@/styles/base/sizing' as *;
@use '@/styles/base/colors' as *;

.iconContainer {
    // background-color: $surface-debug;
    height: 20px;
    width: 20px;
    cursor: pointer;

    &.isOpen {
        .iconStroke {
            &:nth-child(1) {
                transform: translateX(10px)  translateY(10px) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateX(10px)  translateY(10px) rotate(-45deg);
            }
        }
    }

    .iconStroke {
        background-color: black;

        display: block;
        position: absolute;
        width: 14px;
        height: 2px;
        
        translate: -50% -50%;

        transition-property: transform;
        transition-duration: .05s;
        transition-timing-function: ease-out;

        &:nth-child(1) {
            transform: translateX(10px)  translateY(5px);
        }
        &:nth-child(2) {
            transform: translateX(10px) translateY(10px);
        }
        &:nth-child(3) {
            transform: translateX(10px)  translateY(15px);
        }
    


    }

    // .iconStroke:nth-child(1) {
    //     // transform: translateX(5px);
    //     transform: translateX(3px) rotate(45deg);
    // }
    // .iconStroke:nth-child(2) {
    //     width: 0;
    //     opacity: 0;
    // }
    // .iconStroke:nth-child(3) {
    //     // transform: translateX(5px);
    //     transform: translateX(3px) rotate(-45deg);
    // }

}